.container {
  margin-top:5px;
  margin-bottom:5px;
}

.teamselect .btn.btn-redteam.active {
  /* colours stolen from bootstrap */
  background-color: #bd2130;
  border-color: #b21f2d;
}

.teamselect .btn.btn-blueteam.active {
  /* colours stolen from bootstrap */
  background-color: #0062cc;
  border-color: #005cbf;
}

.teamselect .btn.btn-redteam, .teamselect .btn.btn-blueteam {
  background-color: #cacdd1;
  border-color: #a1a6ad;
  color:black;
}

li.team0 {
  color: #bd2130;
}

li.team1 {
  color:#0062cc;
}

.lg-lesspadding li {
  padding:0.75ex;
}






/* ==== below is from dilemmio ==== */

.card-container {
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items:stretch;
}

.card-container .card {
  width: 22rem;
  margin:10px;
}

.card-container .card-footer {
  text-align:center;
}

.list-group-item.active {
  background-color: #343a40;
  border-color: #343a40;
}

#buttonspot {
  margin-top:5px;
}

p {
  margin-top:10px;
  margin-bottom:10px;
}

.scores {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
  border-bottom: 1px solid rgb(222, 226, 230);
}
.scores span {
  margin-left:5px;
  margin-right:5px;
  white-space: nowrap;
}